<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Post</title>
    <link rel="stylesheet" href="/singleuser.css">
</head>
<body>

    <div class="view-container">
        <h1>@<%= post.username %></h1>
        <p><%= post.content %></p>
        <button class="backbtn">Back</button>
    </div>
<script src="/singleuser.js"></script>
</body>
</html>
